{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/ACMEMeeting/css/main.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/ACMEMeeting/css/admin.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <h1>UserWomen</h1>

    <table id="viewProperties" class="record_properties">
        <tbody>
            <tr>
                <th>Gender</th>
                <td>{{ entity.gender }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.FirstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.LastName }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ entity.city }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ entity.BirthDate|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Maritalstatus</th>
                <td>{{ entity.MaritalStatus }}</td>
            </tr>
            <tr>
                <th>Breast</th>
                <td>{{ entity.breast }}</td>
            </tr>
            <tr>
                <th>Waist</th>
                <td>{{ entity.waist }}</td>
            </tr>
            <tr>
                <th>Hips</th>
                <td>{{ entity.Hips }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('userwomen') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('userwomen_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
