{% extends '::base.html.twig' %}
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/ACMEMeeting/js/jquery-2.1.3.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/ACMEMeeting/js/javascript.js') }}"></script>
    {% endblock %}
{% block header %}
    <h2>Registration</h2>
{% endblock %}


{% block content %}
    {{ parent() }}

    <br>
    <label for="manGender" class="for-gender">man</label>
    <input type="radio" checked name="gender" value="man" id="manGender">

    <label for="womenGender" class="for-gender">woman</label>
    <input type="radio" name="gender" value="woman" id="womenGender">

    <form id="manForm" action="{{ path('registration') }}" method="post" {{ form_enctype(formMan) }}>
        {{ form_widget(formMan) }}

        <input type="submit" />
    </form>

    <form id="womanForm" action="{{ path('registration') }}" method="post" {{ form_enctype(formWomen) }}>
        {{ form_widget(formWomen) }}

        <input type="submit" />
    </form>
{% endblock %}